@page "/pos"
@layout MainLayout
@inject BisleriumCafe.Data.Repositories.Repository<Product> ProductRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Member> MemberRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Transaction> TransactionRepository;
@inject ISnackbar Snackbar

@using MudBlazor

<MudContainer>
    <MudGrid>
        <!-- Product Cards Column -->
        <MudItem xs="12" md="8">
            <MudGrid>
                @foreach (var product in Products)
                {
                    <MudItem>
                        <MudCard Class="product-card">
                            <MudCardMedia>
                                @* <img src="@product.ImageUrl" alt="@product.Name" /> *@
                            </MudCardMedia>
                            <MudCardContent>
                                <MudText Typo="Typo.h6">@product.Name</MudText>
                                <MudText Typo="Typo.subtitle2">Price: Rs. @product.Price</MudText>
                            </MudCardContent>
                            <div class="button-container">
                                <MudCardActions>
                                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => AddToCart(product)">
                                        Add to Cart
                                    </MudButton>
                                </MudCardActions>
                            </div>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </MudItem>

        <!-- Shopping Cart Column -->
        <MudItem xs="12" md="4">
            <MudPaper Class="shopping-cart">
                <MudText Typo="Typo.h5" Style="color:#8DD3BB; margin:20px; font-size:30px; text-align:center">Bislerium Cart</MudText>
                <ul>
                    @foreach (var cartItem in ShoppingCart)
                    {
                        <li>
                            <MudIconButton Icon="@Icons.Material.Filled.Remove" Color="Color.Error" OnClick="() => DecreaseQuantity(cartItem)">-</MudIconButton>
                            @cartItem.Product.Name - Rs. @cartItem.Product.Price - Quantity: @cartItem.Quantity
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Success" OnClick="() => IncreaseQuantity(cartItem)">+</MudIconButton>
                        </li>
                    }
                </ul>

                <!-- Check if the member is found and regular -->
                @if (FoundMember != null)
                {
                    if (isRegular)
                    {
                        <MudText Typo="Typo.body1" Class="mt-2">Subtotal: <span class="h6">Rs. @CalculateTotal()</span></MudText>
                        <MudText Typo="Typo.body1" Class="mt-2">Discount: - <span class="h6">Rs. @CalculateRegularCustomerDiscount()</span></MudText>
                    }

                    <!-- Horizontal line -->
                    <hr class="mt-2 mb-2" />

                    <MudText Typo="Typo.h5">Total: <span class="h6">Rs. @CalculateTotalWithDiscount()</span></MudText>
                }
                else
                {
                    <MudText Typo="Typo.h5" Style="text-align:center; font-size:27px">
                        Current Total:
                        <br>
                        <span class="h6">Rs. @CalculateTotal()</span>
                    </MudText>
                }

                <!-- Text input for member username or phone number -->
                <MudTextField Label="Member name or number" @bind-Value="MemberInput" Class="custom-margin" />


                <!-- Button for searching member -->
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchMember">Search Member</MudButton>

                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Checkout">Buy</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

<style>
    .custom-margin {
        margin: 10px;
    }


    .product-card {
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin: 8px;
        text-align: center;
        height: 400px;
    }

        .product-card:hover {
            transform: scale(1.01);
            cursor: pointer;
        }

    .button-container {
        margin-top: 12px;
        margin-bottom: 300px;
    }

        .button-container:hover {
            transform: scale(1.01);
            cursor: pointer;
        }

    .shopping-cart {
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 630px;
    }

        .shopping-cart:hover {
            transform: scale(1.05)
        }
</style>